<%= form_tag("/pet_search", method: "get") do %>
  <%= label_tag(:q, "Location") %>
  <%= text_field_tag(:location)%>

  <%= label_tag(:animal, "Animal:") %>
  <%= select_tag "animal", options_for_select(['dog', 'cat', 'bird', 'horse', 'reptile'])%>

  <%= label_tag(:age, "Age:") %>
  <%= select_tag "age", options_for_select(['', 'Baby', 'Young', 'Adult', 'Senior'])%>

  <%= label_tag(:size, "Size:") %>
  <%= select_tag "size", options_for_select(['', 'S', 'M', 'L', 'XL'])%>

  <%= submit_tag("Submit") %>
<% end %>

<div class='pet'>
  <% unless @pet_find.nil? %>
    <%  @pet_find.each do |e| %>
    <p class='photo'><img class='pet-pic' src="<%= e.photo %>" alt="Pet picture"></p>
      <p class='name'><%= e.name %></p>
      <p class='age'> <%= e.age %> </p>
      <p class='size'> <%= e.size %> </p>
      <p class='city-state'> <%= e.location %> </p>
    <% end %>
  <% end %>
</div>


<div class="container">
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>
